.task-list {
    &__row {
        display: flex;
        margin: 20px 0;
        align-items: center;
    }

    &__text {
        margin: 0 auto 0 20px;

        &-done {
            text-decoration: line-through;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 4px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 6px;

            &:hover {
                border-color: #77dae6;
            }
        }
    }
}

.task-list + .task-list {
    margin-top: 50px;
}
